* {
  margin: 0;
  box-sizing: border-box;
}

body {}

/* game - level select */

.level-select {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  text-align: center;
}

.level-select .icon {
  padding: 1em;
}

.level-select .icon:hover {
  background-color: black;
  color: white;
}

/* level loaded */

.level.bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  /* background-image: url(https://via.placeholder.com/1920x1080/000000/FFFFFF?text=levelscreen); */
  background-color: #325f60;
  background-position: center center;
  background-size: cover;
}

/* steps loaded */

.back-to-levels,
.btn-action {
  cursor: pointer;
  border: 1px solid black;
  background-color: white;
  text-align: center;
  width: 10em;
  margin: 0 auto;
  padding: 1em;
  border-radius: 1em;
}

.back-to-levels {
  margin: 0 auto 0 0;
}